{% extends 'indexstaff.html' %}
{% block title %}
<title>Môn học |Quản lý môn học | Admin page | Môn học</title>
{% endblock %}
{% block toast %}
{% if result == "fail" %}
<div class="toast show alert-danger" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="https://cdn-icons-png.flaticon.com/512/5234/5234326.png" width="10px" class="rounded me-2" alt="...">
        <strong class="me-auto">Alert</strong>
        <small class="text-muted">Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Môn học doesn't add, please check again!
    </div>
</div>
{% endif %}
{% if result == "success" %}
<div class="toast show alert-success" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="https://cdn-icons-png.flaticon.com/512/5234/5234326.png" width="10px" class="rounded me-2" alt="...">
        <strong class="me-auto">Alert</strong>
        <small class="text-muted">Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Môn học add success!
    </div>
</div>
{% endif %}
{% endblock %}

{% block titleh1 %}
Môn học
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
<li class="breadcrumb-item active">Môn học</li>
{% endblock %}

{% block manageCourseCourse %}
active
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
        

        <div class="col-lg-12">
            <h5>Thông tin khối lớp</h5>
            <!-- mẫu danh sách học sinh và giáo viên -->
            <div class="row">
                {% for factory in factories %}
                <div class="col-4 col-md-3">
                    <div class="card info-card sales-card">
                        <a class="card-body" href="{% url 'manageCourseCourseDetail' factory.id  %}">
                            <h5 class="card-title">{{factory.name}}</h5>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}