{% extends 'indexTeacher.html' %}
{% block title %}
<title> {{course.name}} {{class_membership.name}} Bảng điều khiển giáo viên | Môn học</title>
{% endblock %}


{% block titleh1 %}
Quản lý môn học ||| Lớp: {{class_membership.name}} ||| Môn học: {{course.name}}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
<li class="breadcrumb-item ">Bảng điều khiển giáo viên</li>
<li class="breadcrumb-item"><a href="{% url 'manageTeacherClass' class_membership.id %}">{{class_membership.name}}</a>
</li>
<li class="breadcrumb-item active"><a href="{% url 'manageTeacherClassCourse' class_membership.id course.id %}">{{course.name}}</a></li>
{% endblock %}

{% block {{class_membership.name}} %}
active
{% endblock %}

{% block body %}
<section class="section dashboard">
    <h1>Môn học {{course.name}}</h1>
    <div class="row">
        <div class="col-12">
            <a href="{% url 'manageTeacherClassCourseAddDanhmucccc' class_membership.id course.id %}"
                class="btn btn-warning">Quản lý Chủ đề</a>
        </div>
        <div class="container-fluid">
            {% for tag in tags %}
            <div class="col-12 my-2">
                <div class="card">
                    <div class="card-header w-100">
                        <h6 class="h3 bold text-success" style="font-weight: 700;">{{tag.name}}</h6>
                        <span class="d-flex">
                            <a href="{% url 'manageTeacherClassCourseLessionAdd' class_membership.id course.id tag.id %}"
                                class="btn btn-primary">Thêm bài dạy</a>
                                <div class="ms-3"></div>
                            <a href="{% url 'manageTeacherClassCourseLessionExamAdd' class_membership.id course.id tag.id %}"
                            class="btn btn-outline-primary ">Thêm bài kiểm tra</a>
                            <!-- <a href="{% url 'manageTeacherClassCoursetracnghiemAdd' class_membership.id course.id tag.id %}"
                            class="btn btn-outline-primary ms-3">Bài kiểm tra trắc nghiệm</a> -->
                        </span>
                    </div>
                    <div class="card-body align-items-center">
                        <div class="row mt-3">
                            {% for record in taglessioncourses %}
                            {% if record.chuongTag == tag %}
                            <div class="col-4 m-1 shadow position-relative">
                                {% if record.image %}
                                <div class="p-3 rounded card-course" style="background-image: url('{{record.image.url}}');">
                                    {% else %}
                                    <div class="p-3 rounded card-course">
                                        {% endif %}
                                        <h4 class=" bold">{{record.name}}</h4>
                                        <div class="">
                                            <a class="btn btn-outline-success "
                                                href="{% url 'manageTeacherClassCourseLessionView' class_membership.id course.id record.id %}"
                                                target="_blank">Xem</a>
                                            <a class="btn btn-outline-primary"
                                                href="{% url 'manageTeacherClassCourseLessionEdit' class_membership.id course.id record.id %} ">Sửa</a>
                                            <a class="btn btn-outline-danger"
                                                href="{% url 'manageTeacherClassCourseLessionDelete' class_membership.id course.id record.id %} ">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="col-12 my-3"></div>
                                {% for record in taglessionexamcourses %}
                                {% if record.chuongTag == tag %}

                                <div class="col-6 mb-3">
                                    {% if record.image %}
                                    <div class="p-3 rounded card-course-exam card-course shadow">
                                        {% else %}
                                        <div class="p-3 rounded card-course-exam card-course shadow">
                                            {% endif %}
                                            <i class="text-danger">Bài kiểm tra ***</i>
                                            <h4 class=" bold"> {{record.name}}</h4>
                                            <div class="">
                                                <a class="btn btn-outline-success"
                                                    href="{% url 'manageTeacherClassCourseLessionExamView' class_membership.id course.id record.id %}"
                                                    target="_blank">Xem</a>
                                                <a class="btn btn-outline-warning"
                                                    href="{% url 'manageTeacherClassCourseLessionExeamGradingexam' class_membership.id course.id record.id %}">Chấm
                                                    điểm</a>
                                                <a class="btn btn-outline-primary"
                                                    href="{% url 'manageTeacherClassCourseLessionExeamEdit' class_membership.id course.id record.id %} ">Sửa</a>
                                                <a class="btn btn-outline-danger"
                                                    href="{% url 'manageTeacherClassCourseLessionExeamDelete' class_membership.id course.id record.id %} ">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</section>
{% endblock %}