{% extends 'indexHomepage.html' %}
{% block title %}
<title>Bảng điều khiển HOMEPAGE | Admin page | Môn học</title>
{% endblock %}


{% block titleh1 %}
Bảng điều khiển
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
<li class="breadcrumb-item active">Bảng điều khiển</li>
{% endblock %}

{% block dashboard %}
active
{% endblock %}

{% block body %}
<section class="section dashboard">
    <div class="row">
      
    </div>
</section>
{% endblock %}