<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block title %}
    <!-- <title>Document</title> -->
    {% endblock %}
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/logo.png' %}" rel="icon">
    <link href="{% static 'assets/img/logo.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'manageTeacher' %}" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">STUDENT  | Trang quản lý {{class_membership.class_membership.name}}</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->



        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <div class="btn-group shadow-0 text-white">
                        <a class="d-block text-decoration-none dropdown-toggle nav-link text-success"
                            data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer">
                            Chào,  {{request.user.first_name}}

                            {% if data.image %}
                            <img src="{{data.image.url}}" alt="mdo" width="32" height="32" class="rounded-circle ms-1">
                            {% else %}
                            <img src="" alt="mdo" width="32" height="32" class="rounded-circle ms-1">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start">
                            {% if request.user.is_staff %}
                            <li>
                                <a class="nav-item dropdown-item" href="{% url 'manageHomePage' %}">Quản lý trang chủ</a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" href="{% url 'manageUser' %}">Quản lý Tài khoản</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% endif %}
                            {% if data.is_teacher %}
                            <li>
                                <a class="nav-item dropdown-item" href="{% url 'manageTeacher' %}">Giáo viên</a>
                            </li>
                            {% endif %}
                            {% if data.is_student %}
                            <li>
                                <a class="nav-item dropdown-item" href="{% url 'manageStudent' %}">Học sinh</a>
                            </li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" type="button" href="{% url 'home' %}">Trở về trang chủ</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" href="{% url 'profileUser' %}">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" href="{% url 'changePassword' %}">Thay đổi mật khẩu</a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>

                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link {% block dashboard %}text-dark{% endblock %}" href="{% url 'manageStudent' %}">
                    <i class="bi bi-grid"></i>
                    <span>Bảng điều khiển</span>
                </a>
            </li>
            {% for course in courses %}
            <li class="nav-item">
                <a class="nav-link {% block course.name %}text-dark{% endblock %}" href="{% url 'manageStudentCourse' course.id %}">
                    <i class="bi bi-grid"></i>
                    <span>{{course.name}}</span>
                </a>
            </li>
            {% endfor %}
           

        </ul>

    </aside><!-- End Sidebar-->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>{% block titleh1 %} {% endblock %}</h1>
            <nav>
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
        </div><!-- End Page Title -->
        {% block body %}

        {% endblock %}

    </main><!-- End indexmain -->
    {% block toast %}

    {% endblock %}
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Course2023</span></strong>. Đã đăng ký Bản quyền
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    {% block script %}

    {% endblock %}

</body>

</html>